/**
 * @file Стили для компонента App.
 */

/**
 * @brief Стили для корневого компонента App.
 * 
 * Этот компонент устанавливает выравнивание текста по центру.
 */
 .App {
  text-align: center;
}

/**
 * @brief Стили для логотипа внутри компонента App.
 * 
 * Этот компонент устанавливает высоту и отключает события указателя.
 * Также он применяет анимацию для вращения логотипа.
 */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/**
 * @brief Медиа-запрос для предпочтения снижения движения.
 * 
 * Этот медиа-запрос применяет анимацию к логотипу, если движение не снижено.
 */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/**
 * @brief Стили для заголовка компонента App.
 * 
 * Этот компонент устанавливает цвет фона, минимальную высоту и
 * свойства отображения flex для заголовка.
 */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/**
 * @brief Стили для ссылок внутри компонента App.
 * 
 * Этот компонент устанавливает цвет для ссылок.
 */
.App-link {
  color: #61dafb;
}

/**
 * @brief Ключевые кадры для вращения логотипа.
 * 
 * Эта анимация ключевых кадров определяет вращение от 0 до 360 градусов.
 */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
